.style-width-100{
    width: 100%;
}

.rounded-pill{
    border-radius: 5rem;
}

.filter{
    filter: drop-shadow(2px 4px 10px black);
}
@media(min-width = 600px){
    .shadow{
        box-shadow: 0 0 50px black;
    }
    .center{
        display: flex;
        align-items: center;
    }
}

.user-list-item .turn {
    transition: all 0.4s ease;
}

.user-list-item.active .turn{
    transform: rotate(180deg);
}

.background{
    background-color: gray;
}
.user-list-item.active .background2{
    background-color: rgba(203, 199, 199, 0.77)
}




