.style-width-100{
    width: 100%;
}

.rounded-pill{
    border-radius: 5rem;
}

.filter{
    filter: drop-shadow(2px 4px 10px black);
}
@media(min-width = 600px){
    .shadow{
        box-shadow: 0 0 50px black;
    }
}

